.ch1 {
  width: 45vw;
  border: 1px solid purple;
  padding: 10px;
}
h4 {
  text-align: center;
}
table {
  border: 1px dotted blue;
  padding: 10px;
  margin-bottom: 10px;
  //   width: 90%;
}
td {
  padding: 5px 10px;
  text-align: center;
}
thead {
  border-bottom: 1px solid gray;
}
.border {
  border: 1px solid gray;
}
